/* Estilos específicos para el módulo */
/* Estilo para el botón de importación */
button[name="button_import_from_api"] {
    margin-left: 10px;
    padding: 8px 16px;
}

/* Icono del botón */
button[name="button_import_from_api"] .fa {
    margin-right: 5px;
}